.container {
  width: 10em;
  min-height: 10em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.link {
  width: 75%;
  padding: 1em;
  text-align: center;
  box-shadow: 0 0 5px #eee;
}